<h1>Welcome, <%= "#{@person.first_name} #{@person.last_name}"  %></h1>
<p></p>

<% if session[:person_type] == "Teacher" %>
  <%= link_to "Manage Users", users_path %><br>
  <%= link_to "Manage Teachers", teachers_path %><br>
  <%= link_to "Manage Students", students_path %><br>
  <%= link_to "Manage Parents", parents_path %><br>
<% elsif session[:person_type] == "Student" || session[:person_type] == "Parent" %>
  <% if @student %>
    <h3> Summary for <%= @student.first_name %> </h3>
    <p>GPA: <%= @student.average_grade %></p>
    <p>Class Rank: <%= @student.class_rank %></p>
    <%= link_to "View Grades", grades_path %><br>
  <% elsif %>
    <p>There are currently no students registered to your account.</p>
    <p>Please contact an administrator about adding your students.</p>
  <% end %>
<% elsif session[:person_type] == "Principal" %>
  <%= link_to "Click here for stats", principals_path %>
  <h3>Total Number of Teachers = <%= Principal.number_of_teachers %></h3>
  <h3>Total Number of Students = <%= Principal.number_of_students %></h3>
  <h3>Classroom Ratio =
    <% if "#{Principal.number_of_teachers}" != 1 %>
      <%= "#{Principal.number_of_teachers / Principal.number_of_teachers} : #{Principal.number_of_students.to_f / Principal.number_of_teachers}" %>
    <% else %>
      <%= "#{Principal.number_of_teachers} : #{Principal.number_of_students}" %>
    <% end %>
  </h3>
  <h3>Number of Assignments Completed This Year = <%= "#{Principal.completed_assignments}" %> </h3>
<% else %>

  <%= link_to "View Grades", grades_path %><br>
<% end %>
