<h1>Welcome, <%= "#{session[:person_type]}" %></h1>
<p></p>

<% if session[:person_type] == "Teacher" %>
  <%= link_to "Manage Users", users_path %><br>
  <%= link_to "Manage Teachers", teachers_path %><br>
  <%= link_to "Manage Students", students_path %><br>
  <%= link_to "Manage Parents", parents_path %><br>
  <%= link_to "Manage Grades", grades_path %><br>
  <%= link_to "Manage Achievements", achievements_path %><br>
<% elsif session[:user_id] %>
  <%= link_to "View Grades", grades_path %><br>
<% end %>
