<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<h1 class="table-name">Assignment Grades</h1>



<% if session[:person_type] == "Parent" %>
  <%= form_for @parent do |f| %>
    <%= f.label "Would you like to receive weekly emails?" %>
    <%= f.check_box :email_preferences %>
    <%= f.submit %>
  <% end %>
<% end %>

<% if @assignment_grades %>
  <table class="tables">
    <thead>
      <tr>
        <th>Grade  </th>
        <th>Assignment name </th>
        <th>Assignment date </th>
        <th>Student </th>


        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @assignment_grades.each do |assignment_grade| %>
        <tr>
          <td><%= assignment_grade.grade %></td>
          <td><%= assignment_grade.assignment_name %></td>
          <td><%= assignment_grade.assignment_date %></td>
          <td><%= "#{assignment_grade.student.first_name} #{assignment_grade.student.last_name}" if assignment_grade.student %></td>
          <td><%= link_to 'Show PDF', assignment_grade.uploaded_file.url %></td>
          <td><%= link_to 'Show', assignment_grade %></td>
          <td><%= link_to 'Edit', edit_assignment_grade_path(assignment_grade) if session[:person_type] == "Teacher" %></td>
          <td><%= link_to 'Destroy', assignment_grade, method: :delete, data: { confirm: 'Are you sure?' } if session[:person_type] == "Teacher" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>


<div class="add-new">  <%= link_to 'New Assignment grade', new_assignment_grade_path if session[:person_type] == "Teacher"%> </div>

<% else %>

  <p>Sorry. There are no assignments for this user. Either your teacher needs to create some, or your permissions need to be changed. Contact your teacher for more details.</p>

<% end %>
