<div id="form-main">
  <div id="form-div">
    <div class="form" id="form1">
      <p>
        <strong>Grade:</strong>
        <%= @assignment_grade.grade %>
      </p>

      <p>
        <strong>Assignment name:</strong>
        <%= @assignment_grade.assignment_name %>
      </p>

      <p>
        <strong>Assignment date:</strong>
        <%= @assignment_grade.assignment_date %>
      </p>

      <p>
        <strong>Student:</strong>
        <%= @assignment_grade.student_id %>
      </p>

      <%= link_to 'Edit', edit_assignment_grade_path(@assignment_grade) %> |
      <%= link_to 'Back', assignment_grades_path %>

      </div>
    </div>
</div>
