<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<div id="form-main">
  <div id="form-div">
    <div class="form" id="form1">


<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="name">
    <%= f.text_field :first_name,  class: "feedback-input", placeholder: "First Name" %>
  </p>
  <p class="name">

    <%= f.text_field :last_name,  class: "feedback-input", placeholder: "Last Name" %>
  </p>
  <p class="name">
    <%= f.label :teacher %><br>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :first_name, :prompt => "Select Teacher..." %>
  </p>
  <p class="submit">
    <%= f.submit :id => "button-blue"%>
  </p>
<% end %>

<div class="git-link" >
<%= link_to 'Back', users_path %>
</div>
</div>
