<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :teacher %><br>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :first_name, :prompt => "Select Teacher..." %>
  </div>

  <h5>Achievements</h5>
  <% student_list = @student.achievements.pluck(:name) %>

  <% @achievements_list.each do |a| %>

    <div class="field">
      <%= label_tag a.name %>
      <% if student_list.include?(a.name) %>
        <%= check_box :achievements, a.id, {checked: true}  %>
      <% else %>
        <%= check_box :achievements, a.id, {checked: false}  %>
      <% end %>

    </div>

  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
