<div id="form-main">
  <div id="form-div">
    <div class="form" id="form1">
        <strong>Student's Name:</strong>
        <%= "#{@student.first_name} #{@student.last_name}" %>
        <br>
        <strong>Student's Parent(s):</strong>
        <% if @student.parents.first == nil %>
          <p> No parent listed in the database. </p>
        <% else %>
          <%= "#{@student.parents.first.first_name} #{@student.parents.first.last_name}" %>
        <% end %>
        <br>
        <br>
        <strong>Student's Grades:</strong>
        <table>
          <thead>
            <tr>
              <th>Grade</th>
              <th>Assignment</th>
              <th>Date</th>
            </tr>
          </thead>
          <table>
            <tbody>
              <% @student.assignment_grades.each do |assignment_grade| %>
                <tr>
                  <td><%= assignment_grade.grade %></td>
                  <td><%= assignment_grade.assignment_name %></td>
                  <td><%= assignment_grade.assignment_date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <p>
            <strong>Student's Achievements:</strong>
            <p>
               <%= "Total points: #{@student.total_achievements} | Grade equivalent: #{@student.achievement_grade}"%>
            </p>
          </p>
      <%= link_to 'Back', students_path %>
    </div>
  </div>
</div>
