<p id="notice"><%= notice %></p>

<h1>Listing Teachers</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.first_name %></td>
        <td><%= teacher.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Teacher</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= "#{student.teacher.first_name} #{student.teacher.last_name}" if student.teacher %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1> Listing Parents </h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.first_name %></td>
        <td><%= parent.last_name %></td>
        <td><%= "#{parent.student.first_name} #{parent.student.last_name}" if parent.student %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1> Listing Grades </h1>

<table>
  <thead>
    <tr>
      <th>Grade  </th>
      <th>Assignment name </th>
      <th>Assignment date </th>
      <th>Student </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignment_grades.each do |assignment_grade| %>
      <tr>
        <td><%= assignment_grade.grade %></td>
        <td><%= assignment_grade.assignment_name %></td>
        <td><%= assignment_grade.assignment_date %></td>
        <td><%= "#{assignment_grade.student.first_name} #{assignment_grade.student.last_name}" if assignment_grade.student %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<table>
  <thead>
    <tr>
      <th>Test 1</th>
      <th>Test 2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |t| %>
    <h3><%= t.first_name %> <%=  t.last_name %></h3>
      <div id=“student”>  <% @students.each do |s| %>
          <%= s.first_name %>  <%= s.last_name %> <br>
      <% end %>
      </div>
      <% end %>
    </tbody>
  </table>
