<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>

<h1 class="table-name">Users</h1>

<table class="tables">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.person_id %></td>
        <td><%= user.person_type %></td>
        <td><%= user.person ? "#{user.name}" : link_to("Add user", new_user_path) %></td>
        <td><%= button_to 'Show', user, :method => :get %></td>
        <td><%= button_to 'Edit', edit_user_path(user), :method => :get %></td>
        <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="add-new"><%= link_to 'New User', new_user_path, :class => "add-user-button" %></div>
