<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
<div id="form-main">
  <div id="form-div">
    <div class="form" id="form1">
    <%= form_for(@teacher) do |f| %>
      <% if @teacher.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>
          <ul>
          <% @teacher.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <p class="name">
        <%= f.text_field :first_name, placeholder: "First Name", class: "validate[required,custom[onlyLetter],length[0,100]] feedback-input" %>
      </p>
      <p class="email">
        <%= f.text_field :last_name,  placeholder: "Last Name", :class => "validate[required,custom[email]] feedback-input" %>
      </p>
      <p class="submit">
        <%= f.submit 'name here', :id => "button-blue" %>
      </p>
    <% end %>
    </div>


    <div class="git-link" >
      <%= link_to 'Back', teachers_path %>
    </div>

  </div>






</div>
